body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}
.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;
  background-image: url('../img/one.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 80px;
}
.home-main-text {
  font-family: 'Roboto mono', monospace;
  font-size: 30px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: white;
  text-align: center;
}
.home-main-button {
  width: 110px;
  height: 50px;
  background: #47cfac;
  display: grid;
  align-items: center;
}
.home-main-button a {
  font-weight: 700;
  font-size: 18px;
}

article {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

article h2 {
    font-size: 24px;
}
blogs-main {
  display: grid;
}
.blogs-main p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0px 50px 40px;
}
.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 60px 1fr;
}
.blogs-news-img-container {
  grid-column: 1;
}
.blogs-news-img-container img {
  width: 85%;
}
.blogs-news-info-container {
  grid-column: 2;
}
.blogs-news-info-container h2 {
  font-size: 35px;
  text-align: left;
}
.blogs-news-info-container p {
  margin-bottom: 35px;
  font-weight: 500;
}
.blogs-post-container {
  padding: 0 50px 40px;
}
.blogs-post-titulo-post {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}
.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  width: 60px;
}
.blogs-post-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.blogs-post-container .post-container p {
  margin-bottom: 35px;
}
.blogs-post-container .post-container img {
  width: 100%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 60%;
      margin: auto;
  }
    .carousel-inner .item img {
      width: 100%; /* Ajusta el ancho al 100% del contenedor */
      height: auto;  /* Autoajusta la altura para mantener la proporción */
    }
/* Estilo para la sección de publicación */
.post-card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.like-button, .comment-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover, .comment-button:hover {
    background-color: #000000;
}

/* Alinear los botones al centro de la publicación */
.post-card button {
    display: inline-block;
}

/* Alineación horizontal de los botones */
.like-button {
    float: left;
}

.comment-button {
    float: right;
}

/* Limpiar el float para evitar colisiones */
.post-card::after {
    content: "";
    display: table;
    clear: both;
}

.form-control {
  width: 100%;
  border-radius: 5px;
}

button.post {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  
}

textarea,
input[type="file"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}


  button {
    width: 100%;
    margin-top: 20px;
  }
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

grid-container blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 60px 1fr;

}


.private-label {
  margin-left: px; /* Espacio entre el texto y el checkbox */
}
/* Estilos para el botón "Submit" */
.btn-primary {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor por encima */
}

/* Estilos para el botón "Cancel" */
.btn-secondary {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 30px;
  padding: 20px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #999; /* Cambia el color al pasar el cursor por encima */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ffffff;
}

a{
  text-decoration: none;}

